[Unit]
Description=IntellijHack

[Service]
ExecStart=/root/programming/hack/LicenseServer/IntelliJIDEALicenseServer_linux_amd64 &

[Install]
WantedBy=multi-user.target
