[Desktop Entry]
Name=Kali Lockscreen
Name[fr]=Écran de verrouillage pour Kali
X-KDE-PluginInfo-Name=kaliLockScreen
X-KDE-PluginInfo-Author=Kali Devel Team
X-KDE-PluginInfo-Email=devel@kali.org
